<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'text' %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, :class => 'text' %>
  </p>
  <p>
    <%= f.submit 'Submit', :class => 'white-dark' %>
  </p>
<% end %>