<article>
    <img src="/images/iceland.jpg">
    <div class="content">
        <h1><%= article.title %></h1>
        <p><%= article.blurb %></p>
        <div class="content_meta">
            <div class="content_meta_category">
                <img src="/images/topics.svg">
                <%= link_to(edit_article_path(article)) do %>
                    <h4>Edit</h4>
                <% end %>
                <%= link_to(article_path(article), method: :delete) do %>
                    <h4>Delete</h4>
                <% end %>
            </div>
            <div class="content_meta_tags">
                <img src="/images/tag.svg">
                <% article.tag_list.each_with_index do |tag, index| %>
                    <%= link_to(tag_path(tag)) do %>
                        <% if index == article.tag_list.size - 1%>
                         <h4><%= tag %></h4>
                        <% else %>
                            <h4><%= tag %>,</h4>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <div class="content_meta_time">
                <img src="/images/time.svg">
                <h4><%= article.updated_at.strftime('%b %d, %Y') %></h4>
            </div>
        </div>
        <%= link_to(article_path(article)) do %>
            <button class="dark-white">
                Read more
            </button>
        <% end %>
    </div>
</article>